h1 {
  background-color: purple;
  text-align: center;
}

.social-media {
  background-color: aqua;
}

#follow-me {
  background-color: rgb(21, 201, 108);
}

.point {
  color: red;
}

.scary {
  color: orange;
}

.picture img {
  max-width: 200px;
  height: auto;
}

img {
  float: right 
}